@font-face {
  font-family: 'Aeonik-Air';
  src: url('../fonts-Aeonik/Aeonik-Air.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik-Thin';
  src: url('../fonts-Aeonik/Aeonik-Thin.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url('../fonts-Aeonik/Aeonik-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url('../fonts-Aeonik/Aeonik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Medium';
  src: url('../fonts-Aeonik/Aeonik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('../fonts-Aeonik/Aeonik-Bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Black';
  src: url('../fonts-Aeonik/Aeonik-Black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
